{% extends 'layout.html.twig' %}
{% block page_title %}{{ parent() }} - profile{% endblock %}

{% block content %}
    <h2><a href="?action=profile&amp;profile_id={{ userInfo.id }}">{{ userInfo.username }} @{{ userInfo.at_username }}</a></h2>
    <div class="actions">
    {% if userInfo['id'] != session['id'] and isFollowing == false %}
        <a href='?action=follow' class='follow-btn'>Follow user</a>
    {% elseif isFollowing == true %}
        <a href='?action=unfollow' class='unfollow-btn'>Unfollow</a>
    {% endif %}
    </div><br>
    <div class="tl-profile">
    
    </div>
    <input type="hidden" value={{ session['id'] }} class="session_id">
{% endblock %}

{% block script %}
    <script src="./assets/scripts/profile.js"></script>
    {% if userInfo['id'] != session['id'] and isFollowing == false %}
        <script src="./assets/scripts/follow.js"></script>
    {% elseif isFollowing == true %}
        <script src="./assets/scripts/unfollow.js"></script>
    {% endif %}
{% endblock %}